---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$colour: #610fdd;

body {
  font-family: Avenir, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 0;
  line-height: 1;
}

h2 {
  line-height: 1.2;
}

ul,
ol {
  padding-left: 0;
}

a {
  color: $colour;
  text-decoration: none;
}

.content {
  max-width: 600px;
  margin: 5% auto;
  padding: 0 5%;
}

img {
  max-width: 100%;
  height: auto;
}

.post {
  margin-top: 5%;
  margin-bottom: 5%;
}

.nav {
  padding-left: 0;
  list-style: none;
  font-weight: bold;

  li {
    display: inline;
    margin-right: 15px;
  }
}

.cover-art {
  max-width: 600px;
  margin: 0 auto;
}
