---
layout: default
---
<img src="{{ "/cover-art.jpg" | prepend: site.baseurl }}" alt="Cover Art">
<h1>{{ site.title }}</h1>
<p>{{ site.description }}</p>

{% include nav.html %}

<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    <p>{{ post.date | date: "%b %-d, %Y" }} &middot; {{ post.duration }} &middot; <a href="{{ post.link }}">Listen</a> &middot; {{ post.length | times:1.0 | divided_by:1024 | divided_by:1024 | append:"mb" }}</p>
    <div>{{ post.content }}</div>
  </div>
  {% endfor %}
</div>
