---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Use variables from _config.yml so all variables are in the same place.
$colour: {{ site.colour }};
$content_width: {{ site.contentwidth }};

body {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

audio {
  width: 100%;
  display: block;
}

ul,
ol {
  padding-left: 0;
}

a {
  color: $colour;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  margin-bottom: 0;
  font-size: 1.2em;

  a {
    color: #000;
  }
}

.subtitle {
  margin: 0;
  line-height: 1.2;
}

.content {
  max-width: $content_width;
  margin: 5% auto;
  padding: 0 5%;
}

.post {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 5%;
}

.posttitle {
  margin-bottom: 0.3em;
  line-height: 1.2;
  font-size: 1.2em;
}

.metadata {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  color: #666;

  a {
    color: inherit;
  }
}

.nav {
  padding-left: 0;
  list-style: none;
  font-weight: bold;

  li {
    display: inline;
    margin-right: 1em;
    white-space: nowrap;
  }
}

.cover-art {
  max-width: $content_width;
  margin: 0 auto;
}
